<!-- bottom_nav.ejs, Ming Jie Wang, 301188372, Oct.2,2022 -->
<!-- Bottom Nav -->
  <footer>
    <!--make nav fixed on screen and change colour -->
    <nav class="navbar fixed-bottom navbar-dark bg-secondary">
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
          <!-- logo -->
          <img src=".\Assets\images\logo.png" class="logo">
      </ul>
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <h6 class="nav_colour">
          <!-- copyright text -->
          &copy; Copyright 2022. All Rights reserved.
        </h6>
      </ul>
    </nav>
  </footer>